<h2>To do List</h2>
<div class="mb-3">
    <select class="form-select" (change)="applyFilter()" [(ngModel)]="filter" name="newTodo">
        <option [value]="filter" *ngFor="let filter of filters">{{filter}}</option>
    </select>
</div>
<form (ngSubmit)="addTodo()" #todoForm="ngForm">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="nameTask" placeholder="Name" [(ngModel)]="newTodo" name="newTodo"
            required>
        <button class="btn" type="submit" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
            </svg></button>
    </div>
</form>
<div class="h4 pb-1 pt-2 mb-2 text-body-secondary border-bottom border-dark-subtle">
    {{filter}}
</div>
<div class="container pb-5">
    <div class="row justify-content-center">
        <app-task *ngFor="let task of todos" [title]="task.title" [id]="task.id" [completed]="task.completed"
            (reloadList)="getAll()"></app-task>
    </div>
</div>